
/* .........image gryscaling....... */
.greyimage{

    filter: grayscale(100%)
}

.headercolor {


    background-color: #264653;
}

.buttoncolor{


    background-color: #E76F51;
}

.textcolor{

    color: #E76F51;
}



/* .../......Rating color....../.....  */

.starcolor{

    color:#E77C40;
}
.empty{

    color: gainsboro;
}
/* .......Iframe video package .... */

.iframe-container{
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; 
    height: 0;
  }
  .iframe-container iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  